@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@media only screen and (max-width: 389px)  {
  h1 {
      font-size: 2.1rem;
      padding-top:.25em;
  }
}

header {
    border-bottom: 5px solid black;
    padding: 5px;
}

#quizerSelf {
  
}



.resultsHeader {
    position: relative;
    height: 4rem;
}

.score {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: #961919;
    position: absolute;
    top: 5px;
    right: 10px;
    transform: rotate(-3deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-3deg);
    /* Firefox */
    -moz-transform: rotate(-3deg);
    /* IE */
    -ms-transform: rotate(-3deg);
    /* Opera */
    -o-transform: rotate(-3deg);
}

.resultBody {
    text-align: center;
    color:#331d1d;
    font-weight: bold;
    
}

.resultBody .correctBar {
  background-color: #28a745;
  border-width: 2px;
  width: 25%;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #1d7532;


}
.resultBody .wrongBar {
  background-color: #dc3545;
  width: 25%;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #972530;

}
.resultBody .skippedBar {
  background-color: #ffc107;
  width: 25%;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #cc9a04;


}

.resultBody .netBar {
  background-color:#ccc;
  width: 25%;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #999999;

}
.resultBody .word {
  font-variant: small-caps;
}
.resultBody .number {
  font-size: 1rem;
}
.card-body input:checked+label {
    color: #fff;
    background-color: #ababac;
}

.card-body input+label {
    color: #343a40;
    padding: .5rem;
    display: block;
    border-radius: .25rem;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #eee;
}